.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  box-shadow: 0 1px 8px rgb(122, 122, 122);
  align-items: center;
  justify-content: space-between;
  color: var(--clr-black);
  .header-logo {
    display: flex;
    padding: 9px 12px 10px;
    cursor: pointer;
    align-items: center;
    :hover {
      color: var(--clr-blue-main);
    }
  }
}

.header-logo-img {
  height: 36px;
  margin-right: 6px;
  img {
    height: 100%;
  }
}

.header-text {
  font-size: 11px;
}

.header-burger {
  display: flex;
  margin-right: 0 25 px;
  width: 37px;
  height: 37px;
  background-color: var(--clr-blue-main);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.strip-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  .strip {
    height: 2px;
    width: 20px;
    background-color: white;
  }
}
